/* Put your code here */
.grid {
    display: grid;
    height: 500px;
    /*grid-template-rows: min-content min-content;*/
    /*grid-template-columns: min-content min-content min-content;*/
    grid-template: min-content min-content
        / min-content min-content min-content;

    /*grid-template: max-content max-content*/
    /*    / max-content max-content max-content;*/


    /*grid-template-areas: ;*/

}
